
		.table.member_profit_table .t-row, .table.member_profit_table .t-head { grid-template-columns:2rem 1fr 1.5fr 2fr 2fr 2fr 2fr 2fr 1fr 2rem 1fr}

	
			/* 編號 */
			.table.member_profit_table .t-column:nth-child(1) { }
				.table .t-column .member-state { width:1.5rem; height:1.5rem; border-radius:2rem; background:#FFF; cursor:pointer; }
				.table .t-column .member-state[data-state="enabled"] { background:#090; }
				.table .t-column .member-state[data-state="disabled"] { background:#900; }
			
			/*會員姓名*/
			.table.member_profit_table .t-column:nth-child(2) {}
			
			/*會員手機*/
			.table.member_profit_table .t-column:nth-child(3) {}
			
			/*總會資料*/
			.table.member_profit_table .t-column:nth-child(4) {}
			
			/*活會資料*/
			.table.member_profit_table .t-column:nth-child(5) {}
			
			/*死會資料*/
			.table.member_profit_table .t-column:nth-child(6) {}
			
			/*得標會組資料*/
			.table.member_profit_table .t-column:nth-child(7) {}
			
			/*檢視詳細資料*/
			.table.member_profit_table .t-column:nth-child(8) {}
			
			/*checkbox*/
			.table.member_profit_table .t-column:nth-child(9) {}
			
			/* 輸出報表 */
			.table.member_profit_table .t-column:nth-child(10) {}