.hide { display: none !important; }
* { box-sizing: border-box; }
html {font-size:16px;}
html,body {margin:0; width:100%; height:100%;}

.main {
	width:100%; 
	height:100%;
	display: grid; grid-template-columns:150px 1fr; grid-template-rows:1fr;
}
	/* .main > .navigator {background:#A40202; color:#FFF; border:2px solid #000; border-right:0;} */
	.main > .navigator {background:#1973A3; color:#FFF;}
	.main > .navigator.production {background: #02a478;}
		.main .tabbars > div:first-child { margin-top: 1em; }
		.main .tabbars > div:last-child { margin-bottom: 1em; }
		.main .tabbars > div { padding:1em 0; width:100%; text-align:center; cursor: pointer; user-select: none; }
		.main .tabbars > div > span ,p {pointer-events: none;}
		.main .tabbars .active { background: rgb(255, 255, 255, 0.1); }

		.main .tabbars .tabbar-item{ flex-direction: row; display: flex; align-items: center; }
		.main .tabbars .tabbar-item :nth-child(1){ padding: 0 0.5rem;}

	.main > .viewport { border:1px solid #000; width: 100%; height: 100%; overflow-y: auto; }



.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 2;

	display: flex;
    justify-content: center;
    align-items: center;
}
	.overlay .message-box {
		color: #FFFFFF;
	}


	button {cursor:pointer!important;}
		button.btn-blue { background:#3498DB; color:rgba(255,255,255,.8); }
		button.btn-blue:hover { background:#2980B9; color:rgba(255,255,255,.8); }
		
		button.btn-orange { background:#E67E22; color:rgba(255,255,255,.8); }
		button.btn-orange:hover { background:#D35400; color:rgba(255,255,255,.8); }
		
		button.btn-red { background:#E74C3C; color:rgba(255,255,255,.8); }
		button.btn-red:hover { background:#C0392B; color:rgba(255,255,255,.8); }

		button.btn-green { background:#34db66; color:rgba(255,255,255,.8); }
		button.btn-green:hover { background:#29b941; color:rgba(255,255,255,.8); }
	
	button:disabled {cursor:not-allowed!important;}



	.inner_module { overflow:hidden;}
	/** Table region **/
	.module_title { padding: 1rem; font-size: 1.3rem; font-weight: bolder; background-color: #b8dbf7;}



	.grid .grid-content.new_group_serial {background-color: rgb(242, 235, 209); padding: 1rem;}
	.grid .grid-content.group_serial_value { width: 100%; display: grid; grid-template-columns:1fr 1fr; }
	.grid .grid-content.group_serial_value > div { display: grid;}
	
	
	
	.table {}
		.table > .t-head, .table .t-body { border:1px solid #EEE; }
		.table > .t-head { border-bottom:0; font-weight:bolder; background-color:#DDC855;}
			.table > .t-body > .t-row, .table > .t-head { display:grid; }
			.table > .t-body > .t-row:first-child ~ .t-row { border-top:1px solid #EEE; }
				.table .t-column {
					overflow:hidden;
					display:flex; justify-content:center; align-items:center;
					min-width:0; padding:0.5rem;
				}
			.table > .t-body > .t-row:nth-child(2n+1){ background-color: #F2EBD1; }
			.table > .t-body > .t-row:nth-child(2n){ background-color: #F9F5E9; }
				.table .t-column.no-padding {padding:0;}
					.table .t-column > div.text-limiter { width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
				
				.table .t-column:first-child ~ .t-column { border-left:1px solid #EEE; }

				.table.member_table .t-row, .table.member_table .t-head	{
					grid-template-columns:5rem 1.5fr 1.5fr 2.5fr 1.5fr 2.5fr 1fr 2.5fr;
				}
				.table .t-row .field{
					text-align: center;
					align-self: center;
				}


		.table .t-row, .table .t-head { grid-template-columns:5rem 2.5fr 2.5fr 1fr 1fr}
			.table .t-column { box-sizing:border-box; }
	
			/* 狀態 */
			.table .t-column:nth-child(1) { }
				.table .t-column .member-state { width:1.5rem; height:1.5rem; border-radius:2rem; background:#FFF; cursor:pointer; }
				.table .t-column .member-state[data-state="enabled"] { background:#090; }
				.table .t-column .member-state[data-state="disabled"] { background:#900; }
			
			/* 會員帳號 */
			.table .t-column:nth-child(2) {}
			
			/* 會員姓名 */
			.table .t-column:nth-child(3) {}
			
			/* 會員等級 */
			.table .t-column:nth-child(4) {}
			
			/* 加入時間 */
			.table .t-column:nth-child(5) {}
			
			/* 廣告點數購買 */
			.table .t-column:nth-child(6) {}
			
			/* 審核正式會員 */
			.table .t-column:nth-child(7) {}
			
			/* 審核商用會員 */
			.table .t-column:nth-child(8) {}
			
			/* 審核精睿會員 */
			.table .t-column:nth-child(9) {}
			
			/* 天幣提領 */
			.table .t-column:nth-child(10) {}
			
			/* 會員效期 */
			.table .t-column:nth-child(11) {}
			
			/* 編輯個人資料 */
			.table .t-column:nth-child(12) {}
			
				.table button {
					width:100%; height:100%; border:none; border-radius:0;
					padding:1rem!important; font-size:1.1em; font-weight:bolder;
				}
				.table button[data-role="forbidden"] { background:#990000; color:#FFF; }