HTML CSSResult Skip Results Iframe
EDIT ON
.wrapper {
  display: grid;
  grid-template-rows: 60px 300px 300px;
  grid-template-columns: 200px 500px 500px;
  grid-template-areas: 
    "nav nav nav"
    "sidebar content-01 content-02"
    "sidebar . content-03"
}

.wrapper div {
  border: solid 1px;
}

.nav {
  grid-area: nav;
}

.sidebar {
  grid-area: sidebar;
}

.content-01 {
  grid-area: content-01;
}

.content-02 {
  grid-area: content-02;
}

.content-03 {
  grid-area: content-03;
}